.base-form {
    display:flex;
    flex-direction:column;
    margin: auto;
    max-width: 600px;

    button {
        max-width: 100px;
        margin: 10px;
    }

    &--buttons {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    &--review {
        h4 {
            font-size: 18px;
            display:flex;
            p {
                margin-right: 10px;
            }
        }
        button {
            margin-left: 0px;
        }
    }
}